<div class="row">
  <div class="small-4 large-centered columns">
    <h1 class='changeme text-center'>Log in</h1>

    <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email, 'Email', class: 'changeme' %><br/>
      <%= text_field_tag :email, params[:email], placeholder: 'Your email please' %>
    </div>
    <div class="field">
      <%= label_tag :password, 'Password', class: 'changeme' %><br/>
      <%= password_field_tag :password %>
    </div>
    <div><%= submit_tag "Log in", class: 'button expand radius round' %></div>
    <% end %>
  </div>
</div>
