<div class="row">
  <div class="small-4 large-centered columns">
    <h1 class='changeme text-center'>Sign Up</h1>
    <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name, class: 'changeme' %><br/>
      <%= f.text_field :name, placeholder: 'Full Name' %>
    </div>
    <div class="field">
      <%= f.label :email, class: 'changeme' %><br/>
      <%= f.text_field :email, placeholder: 'Your email' %>
    </div>
    <div class="field">
      <%= f.label :password, class: 'changeme' %><br/>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, class: 'changeme' %><br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= submit_tag 'Create Me!', class: 'button expand radius round' %>
    </div>
    <% end %>
  </div>
</div>