<%= link_to 'Add item', new_product_path %>

<h1>Products <small><%= page_entries_info @products %></small></h1>

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<ul>
  <div id="products">
    <%= render @products %>
  </div>
</ul>

<%= paginate @products %>

